{% extends "addresses/base.html" %}
{% block content%}
 <div class="row" style="margin-left: 5px; margin-right: 5px;">
	<div id='map' style='width: 100%; height: 600px;'></div>
	<script>
		mapboxgl.accessToken = '{{ mapbox_access_token }}';
		var map = new mapboxgl.Map({
    		container: 'map', // container ID
    		style: 'mapbox://styles/mapbox/streets-v11', // style URL
    		center: [28.13,-25.95], // starting position [lng, lat]
    		zoom: 9, // starting zoom
    		projection: 'globe' // display the map as a 3D globe
		});
		map.on('style.load', () => {
    		map.setFog({}); // Set the default atmosphere style
		});
		{% for address in addresses %}
		var marker = new mapboxgl.Marker()
			.setLngLat([ {{ address.long }} , {{ address.lat }} ])
			.setPopup(new mapboxgl.Popup().setHTML("<p>{{ address.user.username }}</p>"))
			.addTo(map);
		{% endfor %}
	</script>
</div>
{% endblock content %}