{% extends "addresses/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="row" style="margin-left: 5px; margin-right: 5px;">
  <div class="col-md-4"> </div>
  <div class="col-md-4">
	<h2>You have been logged out</h2>
	<div class="border-top pt-3">
		<small class="text-muted">
			<a href="{% url 'login' %}">Log In again</a>
		</small>
	</div>
  <div class="col-md-4"></div>
</div>
{% endblock content %}